@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* Remove 300ms delay on mobile in some browsers */
html {
-ms-touch-action: manipulation;
touch-action: manipulation;
}

body {
    font-family: "Inconsolata"; /* Because I'm sick of the unevenness. */
    color: white;
    background: black;
    margin: 0;
}

canvas {
	/* Get rid of 300ms delay in IE */
	-ms-touch-action: manipulation; /* IE10  */
	touch-action: manipulation; /* IE11+ */
}

#menu {
    width: 294px;
    margin-left: auto;
    margin-right: auto;
	display: none;
    cursor: pointer;
}

#menu ul {
    list-style-type: none;
}

#resume, #restart {
    display: none;
}

#pause {
	display: none;
	width: 32px;
    cursor: pointer;
}

#back {
	display: none;
    cursor: pointer;
}

#text-wrapper {
	display: none;
}

#buttons {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#text-wrapper {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: #BBBBBB;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
}

.text strong {
    font-size: 1.3em;
    color: #DD1321;
}

#one {
    float: left;
}

#two {
    float: right;
}