@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* Remove 300ms delay on mobile in some browsers */
html {
-ms-touch-action: manipulation;
touch-action: manipulation;
}

body {
    font-family: "Inconsolata"; /* Because I'm sick of the unevenness. */
    color: white;
    background: black;
    margin: 0;
}

canvas {
	/* Get rid of 300ms delay in IE */
	-ms-touch-action: manipulation; /* IE10  */
	touch-action: manipulation; /* IE11+ */
}

#game {
    width: 1024px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#menu {
    width: 1024px;
    height: 600px;
	display: none;
    cursor: pointer;
}

#menu #title {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#menu ul {
    width: 294px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0px;
}

#resume, #restart {
    display: none;
}

#pause {
	display: none;
	width: 16px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#back {
	display: none;
    cursor: pointer;
}

#buttons {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#text-wrapper {
    display: none;
    width: 830px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: #BBBBBB;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
}

.text strong {
    font-size: 1.3em;
    color: #DD1321;
}

#one {
    float: left;
}

#two {
    float: right;
}